{{ template "layout_header.html" }}

<div class="block">
  <h1>Peers</h1>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Key</th>
        <th>Endpoint</th>
        <th>IPs</th>
        <th>Handshake</th>
        <th>Sent</th>
        <th>Received</th>
      </tr>
    </thead>
    <tbody>
      {{ range .peers }}
      <tr>
        <td>{{ .PublicKey }}</td>
        <td>{{ .Endpoint }}</td>
        <td>{{ .AllowedIPs }}</td>
        <td>{{ .LastHandshakeTime }}</td>
        <td>{{ .TransmitBytes }}</td>
        <td>{{ .ReceiveBytes }}</td>
      </tr>
      {{ end }}
    </tbody>
  </table>
</div>

{{ template "layout_footer.html" }}