{{ template "layout_header.html" }}

<div class="block">
  <div class="card">
    <div class="card-header">
      Server Details
    </div>
    <div class="card-body">
      <dl class="row">
        <dt class="col-sm-3">Name</dt>
        <dd class="col-sm-9">{{ .server.Name }}</dd>
      </dl>
      <dl class="row">
        <dt class="col-sm-3">Interface</dt>
        <dd class="col-sm-9">
          {{ .server.Interface }} - {{ .server.IPV4Net }} <span class="text-muted">({{ .server.IPV4Count }} addresses)</span>
        </dd>
      </dl>
      <dl class="row">
        <dt class="col-sm-3">Endpoint</dt>
        <dd class="col-sm-9">{{ .server.PublicAddr }}</dd>
      </dl>
      {{ if ne .server.DNS "" }}
        <dl class="row">
          <dt class="col-sm-3">DNS</dt>
          <dd class="col-sm-9">{{ .server.DNS }}</dd>
        </dl>
      {{ end }}
      <dl class="row">
        <dt class="col-sm-3"></dt>
        <dd class="col-sm9">
          <a href="/admin/server" class="btn btn-outline-primary">Settings</a>
          <a href="/admin/server/restart" class="btn btn-outline-secondary">Reload Configuration</a>
        </dd>
      </dl>
    </div>
  </div>
</div>

<div class="block">
  <h1>Users</h1>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Created</th>
      </tr>
    </thead>
    <tbody>
      {{ range .users }}
      <tr>
        <td>{{ .ID }}</td>
        <td>{{ .Name }}</td>
        <td>{{ .Email }}</td>
        <td>{{ .Role }}</td>
        <td>{{ time .CreatedAt }}</td>
      </tr>
      {{ end }}
    </tbody>
  </table>
</div>

<div class="block">
  <h1>Devices</h1>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>User</th>
        <th>Name</th>
        <th>IP</th>
        <th>Created</th>
        <th>Last Seen</th>
        <th>Endpoint</th>
      </tr>
    </thead>
    <tbody>
      {{ range .devices }}
        <tr>
          <td>{{ .ID }}</td>
          <td>{{ .UserID }}</td>
          <td>{{ .Name }}</td>
          <td>{{ .IPV4 }}</td>
          <td>{{ time .CreatedAt }}</td>
          {{ with .GetPeerInfo }}
            <td>{{ time .LastHandshakeTime }}</td>
            <td>{{ with .Endpoint }}{{ . }}{{ end }}</td>
          {{ else }}
            <td colspan="2">
              <span class="text-muted">N/A</span>
            </td>
          {{ end }}
        </tr>
      {{ end }}
    </tbody>
  </table>
</div>

<div class="block">
  <h1>Wireguard Config</h1>
  <div class="card card-body">
    <pre>{{ .config }}</pre>
  </div>
</div>

{{ template "layout_footer.html" }}